body {
    background-color: grey;
}

.bg-image {
    top: 0;
    left: 0;
    position:fixed;
    opacity: 1;
    z-index: -1;
    width: 100%;
}

div{
    color: white;
    background-color: grey;
    padding-left: 10px;
}